/* Estilização da subcategoria Idiomas */

.languages { 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;

    margin: 0;
    padding: 0 0 0 1rem;
    list-style: none;
}

.languages li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
}

.languages li::before { 
    content: '';
    display: inline-block;
    width: .8rem;
    height: .8rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../img/icons/check.svg');
    margin-right: .5rem;
}